.riichi {
    position: relative;
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    height: 10px;
    width: 60px;
}

.riichi div {
    background-color: red;
    border-radius: 2px;
    height: 4px;
    width: 4px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}