<div class="honba">
    <div class="row">
        <div class="honba-dots">
            <div>
                <div class="honba-dot"></div>
                <div class="honba-dot-horizontal-delim"></div>
                <div class="honba-dot"></div>
                <div class="honba-dot-horizontal-delim"></div>
                <div class="honba-dot"></div>
                <div class="honba-dot-horizontal-delim"></div>
                <div class="honba-dot"></div>
            </div>
            <div class="honba-dot-vertical-delim"></div>
            <div>
                <div class="honba-dot"></div>
                <div class="honba-dot-horizontal-delim"></div>
                <div class="honba-dot"></div>
                <div class="honba-dot-horizontal-delim"></div>
                <div class="honba-dot"></div>
                <div class="honba-dot-horizontal-delim"></div>
                <div class="honba-dot"></div>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>