[Unit]
Description=Service for mahjong users authentication
After=syslog.target
After=network.target
After=postgresql.service
Requires=postgresql.service

[Service]
Type=forking
PIDFile=/var/run/mahjong-security/mahjong-security.pid
WorkingDirectory=/etc/mahjong-security

User=mahjong-security
Group=mahjong-security

OOMScoreAdjust=-1000

ExecStart=/usr/bin/mahjong-security.sh start
ExecStop=/usr/bin/mahjong-security.sh stop
ExecReload=/usr/bin/mahjong-security.sh restart
TimeoutSec=300

[Install]
WantedBy=multi-user.target