<div class="row">
    <div class="col-xs-6">
        <div class="input-group">
            <span class="input-group-addon">Dora</span>
            <select #dora_count class="selectpicker form-control">
                <option *ngFor="let i of range(0, 20, 1)">{{i}}</option>
            </select>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="input-group">
            <span class="input-group-addon">Fu</span>
            <select #fu_count class="selectpicker form-control">
                <option>20</option>
                <option>25</option>
                <option *ngFor="let i of range(30, 130, 10)">{{i}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-xs-9">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn" [ngClass]="{'btn-info': isOpenHand, 'btn-default': !isOpenHand}"
                 (click)="openHand(true)">
                Open
            </div>
            <div class="btn" [ngClass]="{'btn-info': !isOpenHand, 'btn-default': isOpenHand}"
                 (click)="openHand(false)">
                Close
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="btn btn-primary pull-right" (click)="done()">
            Done
        </div>
    </div>
</div>
<div *ngFor="let cGroup of combinationsGrid()" class="row" style="margin-top: 10px; margin-bottom: 30px;">
    <div class="col-md-12 col-xs-12">
        <div *ngFor="let cRow of cGroup" class="row" style="margin-top: 10px;">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified" role="group">
                    <div *ngFor="let c of cRow" class="btn" style="margin: 5px;"
                         [ngClass]="{'btn-success': hasCombination(c.code), 'btn-default': !hasCombination(c.code)}"
                         (click)="toggleCombination(c.code)">{{c.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>